<!-- banner componet -->
<div fxLayout="column" class="banner-web" fxLayoutAlign="center stretch" fxShow="true" fxHide.lt-sm="true">
    <div fxLayout="row" fxLayoutAlign="center strech">
        <div class="details-container">
            <h2>Get Instant Help</h2>
            <h5>for our student comunity</h5>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <button mat-raised-button class="button">
                Get help
                <mat-icon class="material-icons-outlined">
                    supervised_user_circle
                    </mat-icon>
            </button>
        </div>
        <div class="image-container">
            <img src="../../../../assets/images/student2.png" alt="" width="400px" height="200px">
        </div>
    </div>
</div>

<div fxLayout="column" class="banner-mobile" fxLayoutAlign="space-around center" fxShow="true" fxHide.gt-xs="true">
    <div fxLayout="row" class="image-container">
        <img src="../../../../assets/images/student2.png" alt="" width="240px" height="240px">        
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div class="details-container">
            <h3>Get Instant Help</h3>
            <h5>for our student comunity</h5>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <button mat-raised-button class="button">
                Get help
                <mat-icon class="material-icons-outlined">
                    supervised_user_circle
                    </mat-icon>
            </button>
        </div>
    </div>
</div>

<!-- features component -->
<div fxLayout="column" class="features-container">
    <div fxLayout="row" fxLayoutAlign="center " fxShow="true" fxHide.lt-sm="true">
        <div class="heading-container-web" >
            <h2 class="manrope">Tailor-made features</h2>
            <h5>Lorem ipsum is common placeholder text used to demonstrate the graphic elements of a document or visual presentation.</h5>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxShow="true" fxHide.gt-xs="true">
        <div class="heading-container-mobile">
            <h4>Tailor-made features</h4>
            <p>Lorem ipsum is common placeholder text used to demonstrate the graphic elements of a document or visual presentation.</p>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign="center center" class="card-container">
        <div fxFlex.xs="100%" fxFlex.sm="33%" fxFlex="33%" *ngFor="let detail of details">
            <div class="card">                
                <img src="../../../../assets/images/Logo.png" alt="" width="30px" height="30px">
                <h5>{{detail.title}}</h5>
                <p>{{detail.description}}</p>
            </div>
        </div>
    </div>
</div>

<!-- client-web-->
<div class="client-container-web" fxLayout="column" fxShow="true" fxHide.lt-sm="true">
    <div class="title-container" fxLayout="row" fxLayoutAlign="center center">
        <h2 class="manrope">Our clients speak</h2>
    </div>
    <div class="feedback-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" >
        <div class="containerx" fxLayout="column" fxLayoutAlign="center center">
            <div class="rectangle">
                <p @carouselAnimation>{{feedback[selectedNumber].title1}}</p>
                <p>{{feedback[selectedNumber].content1}}</p>
            </div>
            <div class="profile-details" fxLayout="row" fxLayoutGap="8px">
                <img src="{{feedback[selectedNumber].image1}}" alt="Avatar" class="avatar">
                <div fxLayout="column" fxLayoutAlign="center" style="text-align: left !important;">
                    <p>{{feedback[selectedNumber].name1}}</p>
                    <p>{{feedback[selectedNumber].designation1}}</p>
                </div>
            </div>
        </div>
        <div class="containerx" fxLayout="column" fxLayoutAlign="center center">
            <div class="rectangle">
                <p>{{feedback[selectedNumber].title2}}</p>
                <p>{{feedback[selectedNumber].content2}}</p>
            </div>
            <div class="profile-details" fxLayout="row" fxLayoutGap="8px">
                <img src="{{feedback[selectedNumber].image2}}" alt="Avatar" class="avatar">
                <div fxLayout="column" fxLayoutAlign="center" style="text-align: left !important;">
                    <p>{{feedback[selectedNumber].name2}}</p>
                    <p>{{feedback[selectedNumber].designation2}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="button-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-icon *ngIf="selectedNumber == 0" aria-hidden="false" aria-label="Example home icon" class="icon" (click)="change(0)">circle</mat-icon>
        <mat-icon *ngIf="selectedNumber != 0" aria-hidden="false" aria-label="Example home icon" class="icon" (click)="change(0)">radio_button_unchecked</mat-icon>
        <mat-icon *ngIf="selectedNumber == 1" aria-hidden="false" aria-label="Example home icon" class="icon" (click)="change(1)">circle</mat-icon>
        <mat-icon *ngIf="selectedNumber != 1" aria-hidden="false" aria-label="Example home icon" class="icon" (click)="change(1)">radio_button_unchecked</mat-icon>
        <mat-icon *ngIf="selectedNumber == 2" aria-hidden="false" aria-label="Example home icon" class="icon" (click)="change(2)">circle</mat-icon>
        <mat-icon *ngIf="selectedNumber != 2" aria-hidden="false" aria-label="Example home icon" class="icon" (click)="change(2)">radio_button_unchecked</mat-icon>
    </div>    
</div>

<!-- client-mobile -->
<div class="client-container-mobile" fxLayout="column" fxShow="true" fxHide.gt-xs="true">
    <div class="title-container" fxLayout="row" fxLayoutAlign="center center">
        <h4>Our clients speak</h4>
    </div>
    <div class="feedback-container" fxLayout="row" fxLayoutAlign="center center">
        <div class="containerx" fxLayout="column" fxLayoutAlign="center center">
            <div class="rectangle">
                <p>{{feedback[selectedNumber].title1}}</p>
                <p>{{feedback[selectedNumber].content1}}</p>
            </div>
            <div class="profile-details" fxLayout="row" fxLayoutGap="8px">
                <img src="{{feedback[selectedNumber].image1}}" alt="Avatar" class="avatar">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <p>{{feedback[selectedNumber].name1}}</p>
                    <p>{{feedback[selectedNumber].designation1}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="button-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-icon *ngIf="selectedNumber == 0" aria-hidden="false" aria-label="Example home icon" class="icon" (click)="change(0)">circle</mat-icon>
        <mat-icon *ngIf="selectedNumber != 0" aria-hidden="false" aria-label="Example home icon" class="icon" (click)="change(0)">radio_button_unchecked</mat-icon>
        <mat-icon *ngIf="selectedNumber == 1" aria-hidden="false" aria-label="Example home icon" class="icon" (click)="change(1)">circle</mat-icon>
        <mat-icon *ngIf="selectedNumber != 1" aria-hidden="false" aria-label="Example home icon" class="icon" (click)="change(1)">radio_button_unchecked</mat-icon>
        <mat-icon *ngIf="selectedNumber == 2" aria-hidden="false" aria-label="Example home icon" class="icon" (click)="change(2)">circle</mat-icon>
        <mat-icon *ngIf="selectedNumber != 2" aria-hidden="false" aria-label="Example home icon" class="icon" (click)="change(2)">radio_button_unchecked</mat-icon>
    </div>    
</div>

<!-- tutor-feedback-web -->
<div class="tutor-feedback" fxLayout="column" fxLayoutAlign="center center" fxShow="true" fxHide.lt-sm="true">
    <div class="feedback-container" fxLayout="row">
        <svg width="100" height="20" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.584 1.16L23.008 5.264C21.856 5.168 20.92 5.36 20.2 5.84C19.48 6.296 18.976 6.968 18.688 7.856C18.424 8.72 18.376 9.728 18.544 10.88H23.584V20.672H13.792V10.88C13.792 7.424 14.596 4.808 16.204 3.032C17.812 1.256 20.272 0.631999 23.584 1.16ZM10.552 1.16L9.976 5.264C8.824 5.168 7.888 5.36 7.168 5.84C6.448 6.296 5.944 6.968 5.656 7.856C5.392 8.72 5.344 9.728 5.512 10.88H10.552V20.672H0.76V10.88C0.76 7.424 1.564 4.808 3.172 3.032C4.78 1.256 7.24 0.631999 10.552 1.16Z" fill="#2EC5CE"/>
        </svg>
        <div class="text-container">
            We had an incredible experience working with Landify and were impressed they made such a big difference in only three weeks. Our team is so grateful for the wonderful improvements they made and their ability to get familiar with the product concept so quickly. It acted as a catalyst to take our design to the next level and get more eyes on our product.
        </div>    
    </div>
    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div *ngFor="let tutorFeedback of tutorFeedbacks">
            <div class="avatar-container" fxLayout="row">        
                <img (click)="select(tutorFeedback)" src="{{feedback[selectedNumber].image1}}" alt="Avatar" class="avatar">
                <div *ngIf="tutorFeedback == feedBackNum">
                    <div *ngIf="feedBackNum == 1" fxLayout="column" fxLayoutAlign="center" style="margin-left: 5px;text-align: left !important;">
                        <p style="font-weight: bold;">James Cameron</p>
                        <p>CEO WTF</p>
                    </div>
                    <div *ngIf="feedBackNum == 2" fxLayout="column" fxLayoutAlign="center" style="margin-left: 5px;text-align: left !important;">
                        <p style="font-weight: bold;">Husain Bolt</p>
                        <p>CEO Athletics</p>
                    </div><div *ngIf="feedBackNum == 3" fxLayout="column" fxLayoutAlign="center" style="margin-left: 5px;text-align: left !important;">
                        <p style="font-weight: bold;">Kim Cardashian</p>
                        <p>CEO QXR Coop</p>
                    </div><div *ngIf="feedBackNum == 4" fxLayout="column" fxLayoutAlign="center" style="margin-left: 5px;text-align: left !important;">
                        <p style="font-weight: bold;">Jelly Bean</p>
                        <p>CEO WTF</p>
                    </div><div *ngIf="feedBackNum == 5" fxLayout="column" fxLayoutAlign="center" style="margin-left: 5px;text-align: left !important;">
                        <p style="font-weight: bold;">Osama Billaden</p>
                        <p>CEO WTF</p>
                    </div>
                </div>                
            </div>
        </div>
    </div>   
</div>

<!-- tutor-feedback-mobile -->
<div class="tutor-feedback-mobile" fxLayout="column" fxLayoutAlign="center center" fxShow="true" fxHide.gt-xs=true> 
    <div class="feedback-container" fxLayout="row">
        <svg width="100" height="20" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.584 1.16L23.008 5.264C21.856 5.168 20.92 5.36 20.2 5.84C19.48 6.296 18.976 6.968 18.688 7.856C18.424 8.72 18.376 9.728 18.544 10.88H23.584V20.672H13.792V10.88C13.792 7.424 14.596 4.808 16.204 3.032C17.812 1.256 20.272 0.631999 23.584 1.16ZM10.552 1.16L9.976 5.264C8.824 5.168 7.888 5.36 7.168 5.84C6.448 6.296 5.944 6.968 5.656 7.856C5.392 8.72 5.344 9.728 5.512 10.88H10.552V20.672H0.76V10.88C0.76 7.424 1.564 4.808 3.172 3.032C4.78 1.256 7.24 0.631999 10.552 1.16Z" fill="#2EC5CE"/>
        </svg>
        <div class="text-container">
            We had an incredible experience working with Landify and were impressed they made such a big difference in only three weeks. Our team is so grateful for the wonderful improvements they made and their ability to get familiar with the product concept so quickly. It acted as a catalyst to take our design to the next level and get more eyes on our product.
        </div>    
    </div>
    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
        <div *ngFor="let tutorFeedback of tutorFeedbacks2">
            <div class="avatar-container" fxLayout="row">        
                <img (click)="select(tutorFeedback)" src="{{feedback[selectedNumber].image1}}" alt="Avatar" class="avatar">
                <div *ngIf="tutorFeedback == feedBackNum">
                    <div *ngIf="feedBackNum == 1" fxLayout="column" fxLayoutAlign="center" style="margin-left: 5px;text-align: left !important;">
                        <p style="font-weight: bold; font-size: 12px">James Cameron</p>
                        <p style="font-size: 12px">CEO WTF</p>
                    </div>
                    <div *ngIf="feedBackNum == 2" fxLayout="column" fxLayoutAlign="center" style="margin-left: 5px;text-align: left !important;">
                        <p style="font-weight: bold; font-size: 12px">Husain Bolt</p>
                        <p style="font-size: 12px">CEO Athletics</p>
                    </div><div *ngIf="feedBackNum == 3" fxLayout="column" fxLayoutAlign="center" style="margin-left: 5px;text-align: left !important;">
                        <p style="font-weight: bold; font-size: 12px">Kim Cardashian</p>
                        <p style="font-size: 12px">CEO QXR Coop</p>
                    </div>
                    <!-- <div *ngIf="feedBackNum == 4" fxLayout="column" fxLayoutAlign="center" style="margin-left: 5px;text-align: left !important;">
                        <p style="font-weight: bold;">Jelly Bean</p>
                        <p>CEO WTF</p>
                    </div><div *ngIf="feedBackNum == 5" fxLayout="column" fxLayoutAlign="center" style="margin-left: 5px;text-align: left !important;">
                        <p style="font-weight: bold;">Osama Billaden</p>
                        <p>CEO WTF</p>
                    </div> -->
                </div>                
            </div>
        </div>
    </div>   
</div>

<div class="get-help" fxLayout="row" fxLayoutAlign="space-around center" fxShow="true" fxHide.lt-sm="true">
    <div fxLayout="column">
        <h2>Get Instant Help</h2>
        <h5>for our stdent comunity</h5>
    </div>
    <button mat-raised-button class="button">
        Get help
        <mat-icon class="material-icons-outlined">
            supervised_user_circle
            </mat-icon>
    </button>
</div>

<div class="footer"></div>
    