<div class="tutor-dashboard">
  <div class="main-left">
    <div class="hi">Hi! {{studentService.currentStudent.firstName}}</div>
    <div class="stats-container" fxLayout="row" fxLayoutAlign="start center">
      <div class="stats" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="12px">
        <div class="title-tutor">
          TOTAL REQUESTS
        </div>
        <div class="number-tutor">
          {{tutor.totalRequests}}
        </div>
        <!--<div class="subtitle-tutor">-->
          <!--Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.-->
        <!--</div>-->
      </div>
      <div class="stats" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="12px">
        <div class="title-tutor">
          IN PROGRESS
        </div>
        <div class="number-tutor">
          {{tutor.inprogressCount}}
        </div>
        <!--<div class="subtitle-tutor">-->
          <!--Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.-->
        <!--</div>-->
      </div>
      <div class="stats stats--xx" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="12px">
        <div class="title-tutor">
          TOTAL EARNINGS
        </div>
        <div class="number-tutor number-tutor--xx">
          {{tutor.fee}} USD
        </div>
        <!--<div class="subtitle-tutor subtitle-tutor&#45;&#45;xx">-->
          <!--Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.-->
        <!--</div>-->
      </div>
    </div>
    <div class="review-container">
      <div class="review-card" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px">
        <div class="review-title">
          Reviews
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
          <div class="rating" fxLayout="row">
            <mat-icon [ngClass]="tutorRating >= 1 ? 'star star--selected' : 'star'">star</mat-icon>
            <mat-icon [ngClass]="tutorRating >= 2 ? 'star star--selected' : 'star'">star</mat-icon>
            <mat-icon [ngClass]="tutorRating >= 3 ? 'star star--selected' : 'star'">star</mat-icon>
            <mat-icon [ngClass]="tutorRating >= 4 ? 'star star--selected' : 'star'">star</mat-icon>
            <mat-icon [ngClass]="tutorRating >= 5 ? 'star star--selected' : 'star'">star</mat-icon>
          </div>
          <div class="rating-number">
            {{tutorRating}} ({{tutor.tasksCompleted}})
          </div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="margin-top: 24px">
        <div *ngFor="let review of reviews">
          <div class="review-card" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px">
            <div fxLayout="row" fxLayoutAlign="space-between start">
              <div fxLayout="column" fxLayoutAlign="start stretch">
                <div class="review-title">
                  {{review.questionTitle}}
                </div>
                <div class="rated-by">{{review.review}}</div>
              </div>
              <div class="rating" fxLayout="row">
                <mat-icon [ngClass]="review.rating >= 1 ? 'star star--selected' : 'star'">star</mat-icon>
                <mat-icon [ngClass]="review.rating >= 2 ? 'star star--selected' : 'star'">star</mat-icon>
                <mat-icon [ngClass]="review.rating >= 3 ? 'star star--selected' : 'star'">star</mat-icon>
                <mat-icon [ngClass]="review.rating >= 4 ? 'star star--selected' : 'star'">star</mat-icon>
                <mat-icon [ngClass]="review.rating >= 5 ? 'star star--selected' : 'star'">star</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
