<div class="tutor-dashboard">
    <div class="main-left">
        <div class="hi">Hi! Jhon</div>
        <div class="stats-container" fxLayout="row" fxLayoutAlign="space-evenly center">
            <div class="stats" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="12px">
                <div class="title-tutor">
                    TOTAL REQUESTS
                </div>
                <div class="number-tutor">
                    1,124
                </div>
                <div class="subtitle-tutor">
                    Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.
                </div>
            </div>
            <div class="stats" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="12px">
                <div class="title-tutor">
                    TOTAL REQUESTS
                </div>
                <div class="number-tutor">
                    1,124
                </div>
                <div class="subtitle-tutor">
                    Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.
                </div>
            </div>
            <div class="stats stats--xx" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="12px">
                <div class="title-tutor">
                    TOTAL REQUESTS
                </div>
                <div class="number-tutor number-tutor--xx">
                    1,124
                </div>
                <div class="subtitle-tutor subtitle-tutor--xx">
                    Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.
                </div>
            </div>
        </div>
    </div>    
</div>
