<div class="tutor-dashboard">
  <div class="main-left">
    <div class="hi">Hi! {{studentService.currentStudent.firstName}}</div>
    <div class="stats-container" fxLayout="row" fxLayoutAlign="space-evenly center">
      <div class="stats" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="12px">
        <div class="title-tutor">
          TOTAL REQUESTS
        </div>
        <div class="number-tutor">
          1,124
        </div>
        <div class="subtitle-tutor">
          Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.
        </div>
      </div>
      <div class="stats" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="12px">
        <div class="title-tutor">
          TOTAL REQUESTS
        </div>
        <div class="number-tutor">
          1,124
        </div>
        <div class="subtitle-tutor">
          Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.
        </div>
      </div>
      <div class="stats stats--xx" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="12px">
        <div class="title-tutor">
          TOTAL REQUESTS
        </div>
        <div class="number-tutor number-tutor--xx">
          1,124
        </div>
        <div class="subtitle-tutor subtitle-tutor--xx">
          Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.
        </div>
      </div>
    </div>
    <div class="review-container">
      <div class="review-card" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px">
        <div class="review-title">
          Reviews
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
          <div class="rating" fxLayout="row">
            <mat-icon [ngClass]="rating >= 1 ? 'star star--selected' : 'star'">star</mat-icon>
            <mat-icon [ngClass]="rating >= 2 ? 'star star--selected' : 'star'">star</mat-icon>
            <mat-icon [ngClass]="rating >= 3 ? 'star star--selected' : 'star'">star</mat-icon>
            <mat-icon [ngClass]="rating >= 4 ? 'star star--selected' : 'star'">star</mat-icon>
            <mat-icon [ngClass]="rating >= 5 ? 'star star--selected' : 'star'">star</mat-icon>
          </div>
          <div class="rating-number">
            4.1(560)
          </div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="margin-top: 24px">
        <div *ngFor="let num of [1,2,3,4]">
          <div class="review-card" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px">
            <div fxLayout="row" fxLayoutAlign="space-between start">
              <div fxLayout="column" fxLayoutAlign="start stretch">
                <div class="review-title">
                  You only mist it when it’s gone...
                </div>
                <div class="rated-by">Damiein Darth wader</div>
              </div>
              <div class="rating" fxLayout="row">
                <mat-icon [ngClass]="rating >= 1 ? 'star star--selected' : 'star'">star</mat-icon>
                <mat-icon [ngClass]="rating >= 2 ? 'star star--selected' : 'star'">star</mat-icon>
                <mat-icon [ngClass]="rating >= 3 ? 'star star--selected' : 'star'">star</mat-icon>
                <mat-icon [ngClass]="rating >= 4 ? 'star star--selected' : 'star'">star</mat-icon>
                <mat-icon [ngClass]="rating >= 5 ? 'star star--selected' : 'star'">star</mat-icon>
              </div>
            </div>
            <div class="review-description">
              In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
              visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as
              a placeholder before final copy is available.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
