<div class="chat">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="header-wrap">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
      <mat-icon>arrow_back</mat-icon>
      <div fxLayout="column" fxLayoutAlign="start start">
        <div class="chat-title">Quesion Title</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <div class="chat-subtitle">{{chat.uniqueId}} | Created
            on {{questionCreatedDate * 1000 | date:'yyyy/MM/dd h:mm:ss a'}}</div>
          <!--<div *ngIf="status === 'Open'" class="c-chip c-chip&#45;&#45;neutral invert-false">Open</div>-->
          <div class="c-chip c-chip--progress">In Progress</div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
      <button (click)="onCopyLink()" mat-flat-button color="primary" style="color: white">Copy Link</button>
      <mat-icon>more_vert</mat-icon>
    </div>
  </div>

  <!--  pay button remove -->
  <div>
    <button (click)="onPay()"> pay</button>
  </div>
  <!--  pay button remove -->


  <div class="divider-chat-header"></div>
  <div class="chat-main-container" fxLayout="row">
    <div class="typing-box">
      <div fxLayout="row" fxLayoutAlign="space-between" class="typer">
        <input matInput type="text" placeholder="Reply" class="message-input" [formControl]="message">
        <button mat-flat-button color="primary" style="color: white" (click)="onSend()">Send</button>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxLayoutGap="8px" class="links">
        <img src="/assets/icons/text.svg">
        <img src="/assets/icons/imoji.svg">
        <img src="/assets/icons/attach.svg">
        <img src="/assets/icons/link.svg">
      </div>
    </div>
    <div class="chat-container" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <div class="joined-message">
        <div class="line"></div>
        <div class="user-name">Alexa Daddario &nbsp;</div>
        <div class="text">joined the chat</div>
        <div class="line"></div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start" class="other-user">
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
          <img src="/assets/images/profile.jpg" class="avatar-x">
          <div fxLayout="column" fxLayoutAlign="start start">
            <div class="user-name">
              Alexa Daddario
            </div>
            <div class="joined">
              joined
            </div>
          </div>
        </div>
        <div class="time">Todat at 9.00 AM</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center">
        <div class="message-box">
          Hi there niiiiiiiiii
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center">
        <div class="message-box">
          Attachment 1
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center">
        <img src="/assets/images/profile.jpg" class="attachment-box">
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start" class="other-user">
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px" style="width: 80%">
          <img src="/assets/images/profile.jpg" class="avatar-x">
          <div fxLayout="column" fxLayoutAlign="start stretch" style="width: 60%">
            <div class="user-name">
              Alexa Daddario
            </div>
            <div class="message-box message-box--other-user-message">
              Hi how you doing??
            </div>

            <div *ngFor="let message of chatMessages">
              <div *ngIf="message.senderId === authService.student.userId">
                <div class="message-box">
                  {{message.message}}
                </div>
              </div>
              <div *ngIf="message.senderId !== authService.student.userId">
                <div class="message-box message-box--other-user-message">
                  {{message.message}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="time">Todat at 9.00 AM</div>
      </div>
    </div>
  </div>
</div>
