<div *ngIf="questionService.question !==undefined" class="chat" fxHide.lt-sm fxShow="true">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="header-wrap">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
      <mat-icon>arrow_back</mat-icon>
      <div fxLayout="column" fxLayoutAlign="start start">
        <div *ngIf="questionService.question !== undefined"
             class="chat-title">{{questionService.question.questionTitle}}</div>
        <div *ngIf="questionService.question === undefined" class="chat-title">Loading</div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <div class="chat-subtitle">{{chat.uniqueId}} | Created
            on {{questionCreatedDate * 1000 | date:'yyyy/MM/dd h:mm:ss a'}}</div>
          <!--<div *ngIf="status === 'Open'" class="c-chip c-chip&#45;&#45;neutral invert-false">Open</div>-->
          <div class="c-chip c-chip--progress">{{questionService.question.status}}</div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
      <button (click)="onCopyLink()" mat-flat-button color="primary" style="color: white">Copy Link</button>
      <mat-icon>more_vert</mat-icon>
    </div>
  </div>

  <div class="divider-chat-header"></div>
  <div class="chat-main-container" fxLayout="row">
    <div class="typing-box">
      <div fxLayout="row" fxLayoutAlign="space-between" class="typer">
        <input matInput type="text" placeholder="Reply" class="message-input" [formControl]="message">
        <button mat-flat-button color="primary" style="color: white" (click)="onSend()">Send</button>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxLayoutGap="8px" class="links">
        <img src="/assets/icons/text.svg">
        <img src="/assets/icons/imoji.svg">
        <img src="/assets/icons/attach.svg">
        <img src="/assets/icons/link.svg">
      </div>
    </div>
    <div class="chat-container" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <!--Joined Message-->
      <!--<div class="joined-message">-->
      <!--<div class="line"></div>-->
      <!--<div class="user-name">Alexa Daddario &nbsp;</div>-->
      <!--<div class="text">joined the chat</div>-->
      <!--<div class="line"></div>-->
      <!--</div>-->
      <!--&lt;!&ndash;Joined Avatar&ndash;&gt;-->
      <!--<div fxLayout="row" fxLayoutAlign="space-between start" class="other-user">-->
      <!--<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">-->
      <!--<img src="/assets/images/profile.jpg" class="avatar-x">-->
      <!--<div fxLayout="column" fxLayoutAlign="start start">-->
      <!--<div class="user-name">-->
      <!--Alexa Daddario-->
      <!--</div>-->
      <!--<div class="joined">-->
      <!--joined-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="time">Todat at 9.00 AM</div>-->
      <!--</div>-->
      <!--&lt;!&ndash;Sender message&ndash;&gt;-->
      <!--<div fxLayout="row" fxLayoutAlign="end center">-->
      <!--<div class="message-box">-->
      <!--Hi there niiiiiiiiii-->
      <!--</div>-->
      <!--</div>-->
      <!--<div fxLayout="row" fxLayoutAlign="end center">-->
      <!--<div class="message-box">-->
      <!--Attachment 1-->
      <!--</div>-->
      <!--</div>-->
      <!--<div fxLayout="row" fxLayoutAlign="end center">-->
      <!--<img src="/assets/images/profile.jpg" class="attachment-box">-->
      <!--</div>-->
      <!--&lt;!&ndash;reciever message&ndash;&gt;-->
      <!--<div fxLayout="row" fxLayoutAlign="space-between start" class="other-user">-->
      <!--<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px" style="width: 80%">-->
      <!--<img src="/assets/images/profile.jpg" class="avatar-x">-->
      <!--<div fxLayout="column" fxLayoutAlign="start stretch" style="width: 60%">-->
      <!--<div class="user-name">-->
      <!--Alexa Daddario-->
      <!--</div>-->
      <!--<div class="message-box message-box&#45;&#45;other-user-message">-->
      <!--Hi how you doing??-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="time">Todat at 9.00 AM</div>-->
      <!--</div>-->
      <div *ngFor="let message of chatMessages">
        <div *ngIf="message.isTutorJoinMessage" class="joined-message">
          <div class="line"></div>
          <div class="user-name">{{message.message}} &nbsp;</div>
          <!--          <div class="text">joined the chat</div>-->
          <div class="line"></div>
        </div>
        <div *ngIf="message.senderId === authService.student.userId && !message.isTutorJoinMessage">
          <div fxLayout="row" fxLayoutAlign="end center">
            <div class="message-box">
              {{message.message}}
            </div>
          </div>
        </div>
        <div *ngIf="message.senderId !== authService.student.userId && !message.isTutorJoinMessage">
          <div fxLayout="row" fxLayoutAlign="space-between start" class="other-user">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px" style="width: 80%">
              <div
                *ngIf="message.senderAvatar !== '' || message.senderAvatar !== undefined || message.senderAvatar !== null">
                <img [src]="message.senderAvatar" class="avatar-x">
              </div>
              <div fxLayout="column" fxLayoutAlign="start stretch" style="width: 60%">
                <div class="user-name">
                  {{message.senderName}}
                </div>
                <div class="message-box message-box--other-user-message">
                  {{message.message}}
                </div>
              </div>
            </div>
            <div class="time">Todat at 9.00 AM</div>
          </div>
          <!--          <div class="message-box message-box&#45;&#45;other-user-message">-->
          <!--            {{message.message}}-->
          <!--          </div>-->
        </div>
      </div>
    </div>
    <div class="chat-details-container" fxLayout="column" fxLayoutGap="4px">
      <div class="cover-box" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
        <img src="../../../../assets/icons/flag.svg">
        <div style="width: 100%;">
          <div class="label">Due date</div>
          <mat-form-field appearance="outline" class="my-form-field" style="width: 100%;">
            <input matInput type="datetime-local">
          </mat-form-field>
          <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
            <img src="../../../../assets/icons/info.svg">
            <div class="remaining-days">
              Remaining 2d 4h 3m 40s
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="questionService.question.isPaid && !isTutor" class="cover-box" fxLayout="row"
           fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <img src="../../../../assets/icons/nervo.svg">
          <div class="quote">
            Quote
          </div>
          <div class="amount">
            $ 20.00
          </div>
          <div class="c-chip c-chip--progress">Fullypaid</div>
        </div>
        <button mat-flat-button class="request-refund">
          Request refund
        </button>
      </div>
      <div *ngIf="!questionService.question.isPaid && !isTutor" class="cover-box" fxLayout="row"
           fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <img src="../../../../assets/icons/nervo.svg">
          <div class="quote">
            Quote
          </div>
          <div class="amount">
            $ 20.00
          </div>
        </div>
        <button (click)="onPay()" mat-flat-button class="pay-now">
          Pay now
        </button>
      </div>
      <div class="cover-box" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="24px" *ngIf="!isTutor">
        <div class="assigned-to">
          Assigned to
        </div>
        <div class="prof" fxLayout="row" fxLayoutGap="16px">
          <div *ngIf="questionService.question.tutorImage" fxLayout="row" fxLayoutGap="-15px">
            <img [src]="questionService.question.tutorImage" class="avatar-x">
            <!--            <img src="../../../../assets/icons/active.svg" class="active">-->
          </div>
          <div *ngIf="!questionService.question.tutorImage" fxLayout="row" fxLayoutGap="-15px">
            <img src="../../../../assets/images/profile.jpg" class="avatar-x">
            <img src="../../../../assets/icons/active.svg" class="active">
          </div>
          <div class="bio-box">
            <div class="head">
              {{questionService.question.tutorName}}
            </div>
            <div class="sub">
              Senior Front-end Developer
            </div>
          </div>
        </div>
        <!--<div class="other-details-container" fxLayout="column" fxLayoutGap="16px" *ngIf="!isTutor">-->
          <!--<div class="other-details" fxLayout="row" fxLayoutAlign="space-between center">-->
            <!--<div class="head">-->
              <!--Location-->
            <!--</div>-->
            <!--<div class="sub">-->
              <!--Colombo, Sri Lanka-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="divider-details"></div>-->
          <!--<div class="other-details" fxLayout="row" fxLayoutAlign="space-between center">-->
            <!--<div class="head">-->
              <!--TimeZone-->
            <!--</div>-->
            <!--<div class="sub">-->
              <!--PST UTC-8-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="divider-details"></div>-->
          <!--<div class="other-details" fxLayout="row" fxLayoutAlign="space-between center">-->
            <!--<div class="head">-->
              <!--Skills-->
            <!--</div>-->
            <!--<div class="sub">-->
              <!--HTML, PHP, & javaScripts-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
      <div class="attachments-container" fxLayout="column" fxLayoutGap="12px">
        <div class="attachment-title">
          Attchments
        </div>
        <div fxLayout="row wrap" fxLayoutGap="8px">
          <img src="../../../../assets/images/profile.jpg" class="attachment">
          <img src="../../../../assets/images/profile.jpg" class="attachment">
          <img src="../../../../assets/images/profile.jpg" class="attachment">
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="questionService.question === undefined">

</div>

<div class="chat-mobile" fxShow="true" fxHide.gt-xs="true">
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center"
               style="position: fixed; top: 0; z-index: 100000000; color: white">
    <div fxLayoutAlign="start center">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
              (click)="onNavigateBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div class="toolbar-avatar"></div>
      <div class="toolbar-q-container" fxLayout="column" fxLayoutAlign="center start">
        <div class="q-title-toolbar">Question Title</div>
        <div class="last-seen">Last Seen 24h ago</div>
      </div>
    </div>
  </mat-toolbar>
  <div class="chat-main-container">
    <div class="chat-container">
      <div *ngFor="let message of chatMessages">
        <div *ngIf="message.isTutorJoinMessage" class="joined-message">
          <div class="line"></div>
          <div class="user-name">{{authService.student.firstName}} &nbsp;</div>
          <div class="text">joined the chat</div>
          <div class="line"></div>
        </div>
        <div *ngIf="message.senderId === authService.student.userId && !message.isTutorJoinMessage">
          <div fxLayout="row" fxLayoutAlign="end center">
            <div class="message-box">
              {{message.message}}
            </div>
          </div>
        </div>
        <div *ngIf="message.senderId !== authService.student.userId && !message.isTutorJoinMessage">
          <div fxLayout="row" fxLayoutAlign="space-between start" class="other-user">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px" style="width: 80%">
              <img src="/assets/images/profile.jpg" class="avatar-x">
              <div fxLayout="column" fxLayoutAlign="start stretch" style="width: 60%">
                <div class="user-name">
                  Alexa Daddario
                </div>
                <div class="message-box message-box--other-user-message">
                  {{message.message}}
                </div>
              </div>
            </div>
            <div class="time">Todat at 9.00 AM</div>
          </div>
          <div class="message-box message-box--other-user-message">
            {{message.message}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
