<form [formGroup]="emailForm">
  <div class="auth" fxLayout="column">
    <div class="title" fxLayout="row" fxLayoutAlign="space-between center">
      <div>Welcome</div>
      <img (click)="onClose()" src="../../../../assets/icons/close.svg" class="close-icon">
    </div>
    <div class="note">We need your email and name to proceed.</div>
    <div class="form" fxLayout="column">
      <div class="label">Email address</div>
      <mat-form-field class="my-form-field" appearance="outline">
        <input [pattern]="emailPattern"  formControlName="email" matInput type="email" class="other">
      </mat-form-field>
      <div class="label">Name</div>
      <mat-form-field appearance="outline">
        <input formControlName="name" matInput type="text" class="other">
      </mat-form-field>
      <div disable="disableDone" (click)="onDone()" class="button-reg">
        Done
      </div>
    </div>
  </div>
</form>

