<form [formGroup]="emailForm">
  <div class="auth" fxLayout="column">
    <div class="title" fxLayout="row" fxLayoutAlign="space-between center">
      <div>Welcome</div>
      <img src="/assets/icons/close.svg" class="close-icon" (click)="onClose()">
    </div>
    <div class="note">We need your email and name to proceed.</div>
    <div class="form" fxLayout="column">
      <div class="label">Email address</div>
      <mat-form-field class="my-form-field" appearance="outline">
        <input formControlName="email" matInput type="email" class="other">
      </mat-form-field>
      <div class="label">Name</div>
      <mat-form-field class="my-form-field" appearance="outline">
        <input formControlName="name" matInput type="text" class="other">
      </mat-form-field>
      <button mat-flat-button (click)="onDone()" class="button-reg">
        Done
      </button>
    </div>
  </div>
</form>

