<div class="success-message" fxLayout="column" fxLayoutAlign="start center">
  <div *ngIf="isSuccess" class="message">
    Payment Successfull
  </div>
  <div *ngIf="!isSuccess" class="message">
    Payment Unsuccessfull
  </div>
  <div [ngClass.gt-sm]="'success-details'" [ngClass.lt-md]="{'success-details success-details--mobile': true}"
       *ngIf="isSuccess">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="42px">
<!--      <div fxLayout="row" fxLayoutAlign="start center">-->
<!--        <img src="assets/icons/printer.svg">-->
<!--        <div class="reciept">-->
<!--          Print this reciept-->
<!--        </div>-->
<!--      </div>-->
<!--      <div fxLayout="row" fxLayoutAlign="start center">-->
<!--        <img src="assets/icons/envelope.svg">-->
<!--        <div class="reciept">-->
<!--          Print this reciept-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="received-container">
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="24px">
          <img src="assets/icons/success.svg">
          <div fxLayout="column" fxLayoutAlign="start start" class="received" fxLayoutGap="2px">
            <div class="received-text">
              Payment Received
            </div>
            <div class="received-number">
              #212123131311212
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
              <img src="assets/icons/visa.svg">
              <div class="visa">
                Paid by VISA
              </div>
            </div>
          </div>
        </div>
        <div class="amount">
          USD {{amount}}
        </div>
      </div>
    </div>
    <div class="payment-details" fxLayout="column" fxLayoutAlign="start start">
      <div class="title">
        Paid to:
      </div>
      <div class="address-name">
        Tutetory Team
      </div>
      <div class="address">
        1 Fernhurst Villas,
      </div>
      <div class="address">
        Cork, Ireland
      </div>
      <div class="address">
        admin@tutetory.com
      </div>
    </div>
  </div>
  <button (click)="onChat()" [ngClass.gt-sm]="'go-to-chat'" [ngClass.lt-md]="{'go-to-chat go-to-chat--mobile': true}"
          mat-flat-button>Go to chat
  </button>
</div>
