<mat-card style="padding: 24px;">
  <mat-card-title fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="question-title">{{title}}</div>
      <div (click)="acceptQuestion()" *ngIf="status === 'Open'" class="c-chip c-chip--neutral invert-false">Open</div>
      <div *ngIf="status === 'InProgress'" class="c-chip c-chip--progress invert-false">In Progress</div>
    </div>
    <div fxLayout="row" fxLayoutGap="8px">
      <div class="c-chip c-chip--subjects invert-false">{{subjects}}</div>
    </div>
    <div fxLayout="row" class="date">
      Due date &nbsp; {{dueDate}}
    </div>
  </mat-card-title>
  <mat-card-content>
    <div fxLayout="row" class="title">Hi Tutors,</div>
    <div fxLayout="row" class="description">
      {{description}}
    </div>
  </mat-card-content>
  <div class="divider-card"></div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="bottom-row">
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center" class="left-container">
        <div *ngFor='let image of images'>
            <img src="{{image}}" alt="Avatar" class="avatar">
        </div>
        <div class="viewed-by">Last assigned to Skrillex</div>
    </div>
    <div fxLayoutGap="8px" fxLayout="row">
      <button (click)="onViewDetails()" mat-button class="view-details">
        View Details
      </button>
      <button (click)="onViewChat()" [class.dissabled]="!isTutorJoined" [disabled]="!isTutorJoined" mat-button class="view-chat">
        View Chat
      </button>
    </div>
  </div>
</mat-card>
