<!-- web -->
<div class="add-question">
  <form [formGroup]="addQuestionForm" (submit)="onSubmit()" class="form-container">
    <div fxLayout="column" class="top-container" fxLayoutAlign="center center">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
        <div class="header-title">Add Question</div>
        <div fxLayout="row" fxLayoutGap="10px" class="button-container">
          <button mat-stroked-button class="button-cancel" >
              Cancel
            </button>
            <button mat-stroked-button class="button-done" type="submit">
              Done
            </button>
        </div>
      </div> 
      <div fxLayout="row" class="status-container" fxLayoutGap="8px">
        <div *ngIf="status === 'open'" class="c-chip c-chip--neutral invert-false">Open</div>
        <div class="date-container">{{date}}</div>
      </div>    
    </div>
    <div fxLayout="column" class="bottom-container">
      <div fxLayout="column" class="form-fields">         
          <div class="label">Question Title</div>
          <mat-form-field appearance="outline" class="my-form-field">
            <input matInput type="text" formControlName="questionTitle" class="other">
          </mat-form-field>
          <div fxLayout="row">
            <div fxLayout="column" class="search-container">
              <div class="label">Subject</div>
              <mat-form-field appearance="outline" class="my-form-field">
                <input matInput type="text" formControlName="subject" class="search">
              </mat-form-field>
            </div>
            <div fxLayout="column" class="date-container">
              <div class="label">Due date</div>
              <mat-form-field appearance="outline" class="my-form-field">
                <input matInput type="datetime-local" formControlName="dueDateTime" class="other">
              </mat-form-field>
            </div>
          </div>
          
          <div class="label">Description</div>
          <mat-form-field appearance="outline" class="my-form-field">
            <input matInput type="text" formControlName="description" class="other">
          </mat-form-field>
      </div>
      <div style="width: 100%;">
        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
          <ngx-dropzone-label>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap = "8px">
              <mat-icon class="material-icons-outlined">
                file_upload
              </mat-icon> 
              <div class="wording">Add Attachment</div>
            </div>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </div>
      </div>
        
    </div>
  </form>
</div>