<mat-toolbar  class="top-bar__wrap">
  <div class="container">
    <mat-toolbar-row class="top-bar ">
      <button
        class="top-bar__nav-icon"
        mat-icon-button
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="top-bar__title-container">
        <img class="top-bar__logo" src="assets/images/tutetory_logo.svg" alt="logo"/>
      </div>
      <div class="top-bar__actions" *ngIf="!authService.isLoggedIn">
        <button class="c-button  " mat-button (click)="onLogin()">Sign in</button>
        <button class="c-button c-flat-button c-button-secondary" mat-flat-button (click)="onSignUp()">Create an account</button>
      </div>
      <div class="top-bar__actions" *ngIf="authService.isLoggedIn">
        <button class="c-button c-flat-button c-button-secondary" mat-flat-button (click)="moveToDashboard()">Dashboard</button>
      </div>

    </mat-toolbar-row>
  </div>

</mat-toolbar>

<div [ngClass.lt-sm]="'faq-container faq-container__small'"
     [ngClass.gt-xs]="{'faq-container': true}"fxLayout="column" >
  <div class="faq-main-title">
    FAQ'S
  </div>
  <div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="start" style="margin-top: 64px">
    <div class="line"></div>
    <div (click)="showMore(1)" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="faq-sub-title faq-sub-title__fa">
        Information we collect
      </div>
      <mat-icon *ngIf="num === 1">expand_more</mat-icon>
    </div>
    <div class="faq-para faq-para__fa" *ngIf="num === 1">
      The total pot is 40K€. Once all submissions have been evaluated and scored, the highest ranking participant will win 15K€, the second highest 10K€, and the third 5K€. Additionally, a total of 250€ will be handed out to the top 40 participants, who will also be invited to attend The Awards in Milan. Rankings will be revealed at The Awards. Prize winners will be asked to provide a bank account and the transfers will happen five days after The Awards at the latest.
    </div>
    <div class="line"></div>
    <div (click)="showMore(2)" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="faq-sub-title faq-sub-title__fa">
        Who will judge my work and how?
      </div>
      <mat-icon *ngIf="num === 2">expand_more</mat-icon>
    </div>
    <div class="faq-para faq-para__fa" *ngIf="num === 2">
      The total pot is 40K€. Once all submissions have been evaluated and scored, the highest ranking participant will win 15K€, the second highest 10K€, and the third 5K€. Additionally, a total of 250€ will be handed out to the top 40 participants, who will also be invited to attend The Awards in Milan. Rankings will be revealed at The Awards. Prize winners will be asked to provide a bank account and the transfers will happen five days after The Awards at the latest.
    </div>
    <div class="line"></div>
  </div>
</div>

<section class="s-footer">
  <img src="assets/images/wave_footer.svg" alt="" class="s-footer__wave">
  <div class="container">
    <div class="s-footer__content">
      <div class="brd-display-x-large m-b-16">Work Smart, Not Hard</div>
      <!-- <div class="brd-display-large m-b-40">For students, by educators</div> -->
      <button mat-flat-button  (click)="addQuestion()" class="c-button c-raised-button c-button-primary m-b-40" fxHide.lt-sm fxShow="true">
        Get Help
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <button mat-flat-button  (click)="addQuestionMobile()" class="c-button c-raised-button c-button-primary m-b-40" fxHide.gt-xs fxShow="true">
        Get Help
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <div class="flex-box align-items-center justify-content-center flex-wrap-wrap m-b-32">
        <a href=""  class="s-footer__link">About Us</a>
        <a href="" class="s-footer__link">Contact Us</a>
        <a href="" class="s-footer__link">FAQ</a>
        <a href="" class="s-footer__link">Privacy Policy</a>
        <a href="" class="s-footer__link">Terms & Conditions</a>

      </div>

      <!-- TrustBox widget - Review Collector -->
      <div class="trustpilot-widget" data-locale="en-US" data-template-id="56278e9abfbbba0bdcd568bc" data-businessunit-id="61586ecb890a91001d9327fc" data-style-height="52px" data-style-width="100%">
        <a href="https://www.trustpilot.com/review/tutetory.com" target="_blank" rel="noopener">Trustpilot</a>
      </div>
      <!-- End TrustBox widget -->
      <div class="copy-right">© 2021 . All rights reserved</div>
    </div>


  </div>
</section>
