<div class="question-pool">
  <div fxLayout="row" class="page-title-container"> Public Pool</div>
  <div class="divider"></div>
  <div fxLayout="row" class="tab-bar" fxLayoutAlign="start stretch" fxLayoutGap="8px">
    <div [ngClass]="selectedStatus === 0 ? 'button-container button-container--selected' : 'button-container'">
      <div style="margin: 0px 8px 0px 8px;" (click)="selectStatus(0)">All</div>
    </div>
    <div [ngClass]="selectedStatus === 1 ? 'button-container button-container--selected' : 'button-container'">
      <div (click)="selectStatus(1)">Assigned</div>
    </div>
    <div [ngClass]="selectedStatus === 2 ? 'button-container button-container--selected' : 'button-container'">
      <div (click)="selectStatus(2)">Inprogress</div>
    </div>
    <div [ngClass]="selectedStatus === 3 ? 'button-container button-container--selected' : 'button-container'">
      <div (click)="selectStatus(3)">Completed</div>
    </div>
    <div [ngClass]="selectedStatus === 4 ? 'button-container button-container--selected' : 'button-container'">
      <div (click)="selectStatus(4)">Cancelled</div>
    </div>
  </div>
  <div fxLayout="row" class="main-containerx">
    <div fxLayout="column" class="left-container">
      <div fxLayout="row" class="card-container" fxLayoutAlign="center center">
        <div fxLayout="column" class="column-view" fxLayoutGap="24px">
          <div class="results">
            {{askedQuestions.length}} results found
          </div>
          <app-question-card
            *ngFor="let q of questions"
            [title]="q.questionTitle"
            [status]="q.status"
            [subjects]="q.subjectCategory"
            [dueDate]="q.dueDate"
            [descriptionTitle]="q.description"
            [description]="q.description"
            [viewedByAmount]=0
            [images]="q.attachments"
          ></app-question-card>
        </div>
      </div>
    </div>
    <div fxLayout="column" class="right-container" fxShow="true" fxHide.lt-sm="true">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" fxShow="true" fxHide.lt-sm="true"
           class="search-container">
        <mat-icon>search</mat-icon>
        <input matInput class="search" placeholder="Search">
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="label">Sort by</div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <form [formGroup]="contactForm" class="form">
          <select formControlName="country" class="select">
            <option [ngValue]="null" disabled>Select Filter</option>
            <option *ngFor="let country of countries" [ngValue]="country.id">{{country.name}}</option>
          </select>
        </form>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="label">Tutor</div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <form [formGroup]="contactForm" class="form">
          <select formControlName="country" class="select">
            <option [ngValue]="null" disabled>Select Filter</option>
            <option *ngFor="let country of countries" [ngValue]="country.id">{{country.name}}</option>
          </select>
        </form>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="label">Subjects</div>
    </div>
  </div>
</div>

