@keyframes Polaris-Indicator--bounce {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes Polaris-Indicator--pulse {
  0% {
    transform: scale(1);
    opacity: .9;
    z-index: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
    z-index: 1;
  }
}
