<div class="alert-dialogs" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px">
  <img src="assets/icons/error.svg">
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
    <div class="dialog-title">{{title}}</div>
    <div class="dialog-message">{{message}}</div>
  </div>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px">
    <button mat-flat-button class="dialog-button dialog-button--danger" (click)="onButtonAction('yes')">Delete</button>
    <button mat-flat-button class="dialog-button dialog-button--danger invert" (click)="onButtonAction('no')">Cancel</button>
  </div>
</div>
