@mixin dashboard-component($theme){
    $primary: map-get($theme, primary);
    $secondary: map-get($theme, accent);
    $tertiary: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .main-container{
        width: 100%;
        .left-container{
            width: 70%;
            padding: 24px 24px;

            .top-bar{
                padding: 0px 16px;

                .title{
                    font: $body-caption-bold;   
                    color: #5B6469; 
                }
    
                .number{
                    font: $heading-desktop-h4;
                }
            } 
            
            .recent-chats{
                padding: 16px;

                .title{
                    font: $body-base-bold;
                    color: #5B6469;
                }
                .view-all{                    
                    align-items: center;
                    padding: 8px 16px;
                    font: $body-caption-bold;
                    color: #57499B;
                    cursor: pointer;
                }

                .chat-info-box-container{
                    margin-top: 12px;

                    .chat-info-box{
                        font: $body-base-medium;
                        .avatar {
                            vertical-align: middle;
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                        }
                        .icon{
                            padding-right: 14px;
                            font-size: 16px;
                            color: #5B6469;
                        }
                        .chat-name{
                            margin-left: 26px;
                        }
                        .button{
                            font: $body-caption-bold;
                            color: #FFFFFF;
                        }
                    }
                    
                .divider{
                    border: 1px solid #CBCFD1;
                    // margin: 8px 0px;
                    width: 100%;
                }
                }

            }
        }
    
        .right-container{
            width: 30%;
            padding: 24px 0px;

            .top-bar{
                .title{
                    font: $body-caption-bold;   
                    color: #5B6469; 
                }
    
                .number{
                    font: $heading-desktop-h4;
                }
            }

            .recent-payments{
                margin-top: 32px;
                padding-right: 48px;
                .title{
                    font: $body-base-medium;
                }

                .payments{
                    width: 100%;
                    padding: 16px;
                    background: #FFFFFF;
                    border-radius: 8px;

                    .avatar {
                        vertical-align: middle;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }

                    .details{
                        // display: flex;
                        // flex-direction: column;
                        // align-items: flex-start;
                        // padding: 0px;

                        // flex: none;
                        // order: 1;
                        // flex-grow: 0;
                        // margin: 0px 23px;

                        .from{
                            font: $body-base-default;
                        }

                        .to{
                            font: $body-caption-bold;
                            color: #57499B;
                        }
                    }
                    .amount{
                        font: $body-caption-bold;                            
                    }
                }
                
                .see-all{                    
                    align-items: center;
                    padding: 8px 16px;
                    font: $body-caption-bold;
                    color: #57499B;
                    cursor: pointer;
                }
            }
        }
    }
    
}    