.avatar {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: -15px;
    }

.status-open{
    padding: 2px 8px 4px;
    background: #EBECEE; 
    font-size: 12px; 
    border-radius: 4px;
    font-family: Manrope-bold;
    color: black;
}

.status-inProgress{
    padding: 2px 8px 4px;
    height: 24px;background: #FFFFFF;
    border: 1px solid #3E59B8;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 12px;
    color: #3E59B8;
    font-family: Manrope-bold;
}

.subjects{
    padding: 5px;
    background: #F2F0FE; 
    font-size: 12px; 
    border-radius: 4px; 
    color: #7F6EF0;
    font-family: Manrope-bold;
}

.date{
    color: #5B6469;
    font-size: 12px; 
    margin-top: 5px;
    font-family: Inter-normal;
}

.title{
    font-size:16px;
    font-family:Inter-normal
}

.description{
    font-size:14px; 
    margin-top: 5px; 
    color: #5B6469;
    font-family:Inter-normal
}

.bottom-row{
    padding-top: 10px;

    .left-container{
        padding-left: 10px;

        .viewed-by{
            font-size: 12px; 
            color: #5B6469;
            font-family:Inter-normal
        }
    }

    .view-chat{
        background: linear-gradient(95.86deg, #26B581 -0.82%, #2FAC7F 45.11%, #27A47E 92.84%);
        font-family: Inter-semiBold;
    }

    .view-details{
        font-family: Inter-semiBold;
    }

}