<mat-card>
    <mat-card-title>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <h4>{{title}}</h4>
            <span *ngIf="status === 'open'" class="status-open">Open</span>
            <span *ngIf="status === 'inProgress'" class="status-inProgress">In Progress</span>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
            <div *ngFor="let subject of subjects">
                <span class="subjects">{{subject}}</span>
            </div>
        </div>
        <div fxLayout="row" class="date">
            Due date &nbsp; {{dueDate}}
        </div>
        <mat-card-content style="margin-top: 10px;">
            <div class="title">{{descriptionTitle}}</div>
            <div class="description">
                {{description}}
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="bottom-row">
            <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center" class="left-container">
                <div *ngFor='let image of images'>
                    <img src="{{image}}" alt="Avatar" class="avatar">
                </div>
                <div class="viewed-by">Viewed By &nbsp; {{viewedByAmount}}+ Tutors</div>
            </div>
            <div fxLayoutGap="5px">
                <button mat-raised-button class="view-details">
                    View Details
                </button>
                <button mat-raised-button class="view-chat">
                    View Chat
                </button>
            </div>
        </div>
    </mat-card-title>
</mat-card>
