.example-icon {
    padding: 0 14px;
  }
    
.example-spacer {
  flex: 1 1 auto;
}
  
.nav-bar{
  // background-color: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);   
  position: relative; 
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 5vh;
}
