<div class="nav">
  <div class="nav-bar-container">
    <mat-toolbar class="nav-bar" [style.background-color]="viewPoint ? '#7F6EF0' : 'white'">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-xs>
          <mat-icon>menu</mat-icon>
          <img src="../../../../assets/icons/logo-temp.svg" alt="" width="30px" height="30px">
        </button>
        <div class="logo-container" fxShow="true" fxHide.lt-sm="true" fxLayout="row" fxLayoutGap="12px"
             fxLayoutAlign="center center">
          <img src="../../../../assets/icons/logo-temp.svg">
          <div class="names" fxLayout="column">
            <div class="name">Tutetory</div>
            <div class="des">Work smart, Not hard</div>
          </div>
        </div>
        <span class="example-spacer"></span>
        <div fxShow="true" fxHide.lt-sm="true" fxLayout="row wrap">
          <a href="#" mat-button>
            <div [ngClass]=" true ? 'links links--selected' : 'links'">Home</div>
          </a>
          <a href="#" mat-button>
            <div [ngClass]=" false ? 'links links--selected' : 'links'">Features</div>
          </a>
          <a href="#" mat-button>
            <div [ngClass]=" false ? 'links links--selected' : 'links'">Testimonial</div>
          </a>
          <a href="#" mat-button>
            <div [ngClass]=" false ? 'links links--selected' : 'links'">Tutors</div>
          </a>
          <a href="#" mat-button>
            <div [ngClass]=" false ? 'links links--selected' : 'links'">About</div>
          </a>
          <a href="https://forms.gle/8UxTEDquQt675PZU9" target="_blank"  mat-button>
            <div [ngClass]=" false ? 'links links--selected' : 'links'">Become a tutor</div>
          </a>
        </div>
        <span class="example-spacer"></span>
        <div *ngIf="!authService.isLoggedIn" style="margin-right: 3%;">
          <div fxShow="true" fxHide.lt-sm="true" fxLayoutGap="4%">
            <a mat-stroked-button class="button-signUp" (click)="onSignUp()">
              Sign up
            </a>
            <a mat-stroked-button class="button-login" (click)="onLogin()">
              Login
            </a>
          </div>
        </div>
        <div *ngIf="authService.isLoggedIn">
          <!-- <div>{{studentService.currentStudent.firstName}}</div>
          <button (click)="onSignOut()">log out</button> -->
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" fxHide.lt-sm fxShow="true">
            <div *ngIf="authService.student.profileImage !==null">
              <img [src]="authService.student.profileImage" alt="Avatar" class="avatar">
            </div>
            <div *ngIf="authService.student.profileImage==null">
              <img src="../../../assets/images/profile.jpg" alt="Avatar" class="avatar">
            </div>
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="-8px" fxHide.lt-sm fxShow="true">
              <div class="profile-title">{{studentService.currentStudent.firstName}}</div>
              <div class="profile-sub-title">{{studentService.currentStudent.email}}</div>
            </div>
            <mat-icon mat-button [matMenuTriggerFor]="menu" style="cursor: pointer;">expand_more</mat-icon>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/student" class="drop-down" fxLayout="row" fxLayoutAlign="start center"
                      fxLayoutGap="8px">
                <mat-icon class="material-icons-outlined">account_circle</mat-icon>
                <div>View Profile</div>
              </button>
              <button mat-menu-item routerLink="/tutor" class="drop-down" fxLayout="row" fxLayoutAlign="start center"
                      fxLayoutGap="8px">
                <mat-icon class="material-icons-outlined">account_circle</mat-icon>
                <div>Go to Tutor</div>
              </button>
              <button mat-menu-item (click)="onSignOut()" class="drop-down" fxLayout="row" fxLayoutAlign="start center"
                      fxLayoutGap="8px">
                <mat-icon class="material-icons-outlined">logout</mat-icon>
                <div>Sign Out</div>
              </button>
            </mat-menu>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a (click)="onHome()" (click)="sidenav.toggle()" mat-list-item>
            <mat-icon>notifications</mat-icon>
            Home
          </a>
          <a href="#" mat-list-item>
            <mat-icon>message</mat-icon>
            Tutor</a>
          <a href="#" mat-list-item>
            <mat-icon>account_box</mat-icon>
            About
          </a>
          <a href="#" mat-list-item>
            <mat-icon>lock</mat-icon>
            FAQ
          </a>
          <a href="#" mat-list-item>
            <mat-icon>lock</mat-icon>
            Become a tutor
          </a>
          <a *ngIf="!authService.isLoggedIn" (click)="onSignUpMobile()" (click)="sidenav.toggle()" mat-list-item>
            <mat-icon>lock</mat-icon>
            Signup
          </a>
          <a *ngIf="!authService.isLoggedIn" (click)="onLoginMobile()" (click)="sidenav.toggle()" mat-list-item>
            <mat-icon>lock</mat-icon>
            Login
          </a>
          <a routerLink="/student" *ngIf="authService.isLoggedIn" (click)="sidenav.toggle()" mat-list-item>
            <mat-icon>lock</mat-icon>
            View Profile
          </a>
          <a *ngIf="authService.isLoggedIn" (click)="onSignOut()" (click)="sidenav.toggle()" mat-list-item>
            <mat-icon>lock</mat-icon>
            Sign Out
          </a>
          <a (click)="sidenav.toggle()" mat-list-item>
            <mat-icon>close</mat-icon>
            Close
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <app-body *ngIf="page === 0"></app-body>
      <app-sign-in-mobile *ngIf="page === 1"></app-sign-in-mobile>
      <app-sign-up-mobile *ngIf="page === 2"></app-sign-up-mobile>
    </mat-sidenav-container>
  </div>
</div>






