<div mat-dialog-title>
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
    <div class="dialog-title">Write a Review</div>
  </div>
</div>
<mat-dialog-content>
  <div class="tu-text-input">
    <div class="tu-text-input__label">Message</div>
    <mat-form-field class="" appearance="outline" [floatLabel]="'never'">
      <textarea matInput rows="8" [formControl]="review"></textarea>
      <!--<mat-error-->
        <!--*ngIf="addQuestionForm.get('questionTitle')?.touched && addQuestionForm.get('questionTitle')?.hasError('required')"-->
        <!--class="">-->
        <!--{{validations.questionTitleRequired}}-->
      <!--</mat-error>-->
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-flat-button class="c-button c-flat-button" mat-dialog-close>
    Cancel
  </button>
  <button mat-flat-button type="button" class="button-done c-button c-flat-button c-button-primary" (click)="onDone()">
    Done
  </button>
</mat-dialog-actions>
