<div class="alert-dialogs" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px">
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
    <div class="dialog-title">{{title}}</div>
    <div class="dialog-message">{{message}}</div>
  </div>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px" *ngIf="type === 'success'">
    <button mat-flat-button class="dialog-button dialog-button--success">Delete</button>
    <button mat-flat-button class="dialog-button dialog-button--success invert">Cancel</button>
  </div>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px" *ngIf="type === 'warning-info'">
    <button mat-flat-button class="dialog-button dialog-button--danger">Delete</button>
    <button mat-flat-button class="dialog-button dialog-button--danger invert">Cancel</button>
  </div>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px" *ngIf="type === 'warning'">
    <button mat-flat-button class="dialog-button dialog-button--warning">Delete</button>
    <button mat-flat-button class="dialog-button dialog-button--warning invert">Cancel</button>
  </div>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="8px" *ngIf="type === 'info'">
    <button mat-flat-button class="dialog-button dialog-button--info">Delete</button>
    <button mat-flat-button class="dialog-button dialog-button--info invert">Cancel</button>
  </div>
</div>
